.geofs-fuel-pad {
    background-size: 50px 45px;
    margin-left: 0px;
    margin-bottom: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 60;
    background-position: 0px 0px;
    width: 50px;
    height: 45px;
    transform-origin: 0px 45px;
    opacity: 1;
    transform: rotate(0deg);
}
